@import './../../Styles/sharedVariables';

:local {
    .video__list {

        .listRow {
            display: flex;
            justify-content: space-around;
            border: $border-style;
            border-top: none;
            &:nth-child(odd) {
                background-color: $background-color-shade-3;
            }
            &.listHeader {
                text-transform: uppercase;
                font-weight: 600;
                border: $border-style;
            }
            &:hover {
                background-color: $grid-row-over;
                cursor: pointer;
            }
        }
        .listCol {
            flex: 1 1;
            display: flex;
            justify-content: start;
            border-top: none;
            padding: 0.8em;
            border-right: $border-style;
            &.listAction {
                display: inline;
                border-right: none;
                button {
                    margin-right: 5px;
                }
            }
        }
    }
    @media screen and (max-width: 720px) {
        .video__list {
            .listRow {
                padding: 10px 0px;
                display: block;
                &.listHeader {
                    display: none;
                }
                &.listHeader+.listRow {
                    display: block;
                    border: $border-style;
                }
            }
            .listCol {
                display: block;
                text-align: right;
                padding: 5px 10px;
                border-right: none;
                &.listAction {
                    display: block;
                    text-align: right;
                }
                &::before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    font-size: 0.8em;
                    text-transform: uppercase;
                }
            }
        }
    }
}
