$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #ff0000;

$primary-color: #282c34;
$app-text-color: #5b6a76;

$background: #eaf0f2;
$background-color-shade-1:  #dddddd;
$background-color-shade-2:  #cccccc;
$background-color-shade-3:  #f2f2f2;

$border-color: #cccccc;
$border-style: 1px solid $border-color;

$button-primary: #1789ec;
$button-primary-over: #049fd9;

$grid-row-over: #eaf0f2;