.app__header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: white;
}
.app__header div {
    padding: 5px 10px;
    display: flex;
    align-items: flex-end;
}
.app__header div:hover {
    background-color: #87a2ebc5;
    cursor: pointer;
}
.link a,
.title a {
    color: #ffffff;
    text-decoration: none;
}
.title a {
    font-size: 22px;
}
.link a {
    font-size: 18px;
}
