@import './../../Styles/sharedVariables';

:local {
    .app__header {
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: $color-white;
        div {
            padding: 5px 10px;
            display: flex;
            align-items: flex-end;
            &.link:hover {
                background-color: $background-color-shade-1;
                cursor: pointer;
                a {
                    color: $primary-color;
                }
            }
        }
    }
    .link a,
    .title a {
        color: $color-white;
        text-decoration: none;
    }
    .title a {
        font-size: 22px;
    }
    .link a {
        font-size: 18px;
    }
}
